body {
    .ikolookup {
        width: 100%;
        text-align: left;
        border: none;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        padding: 0;
        background-color: #F8F9FA;
        padding: 10px 30px 10px 10px;
        position: relative;
        img {
            display: inline;
            margin: 0;
            width: 10px;
            vertical-align: middle;
            margin-bottom: 3px;
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translate(0,-50%);
            opacity: 0.4;
        }
        div {
            display: inline-block;
            margin-left: 8px;
            font-size: 0.8em;
            color: #979797;
        }
    }
}