body {
    .ikosearch {
        width: 100%;
        height: 40px;
        max-width: 54px;
        text-align: center;
        border: none;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        padding: 0;
        background-color: #F8F9FA;
        img {
            display: inline;
            margin: 0;
            width: 18px;
            vertical-align: middle;
            margin-bottom: 3px;
        }
    }
}